@* Top Navigation Bar used in Desktop screens *@

<div class="sticky-nav">
    <div class="nav-logo">
        <a href="/"><img src="img/mp-icon.png" alt="Poust Logo" class="nav-logo-logo" /></a>
    </div>
    <div class="nav-menu">
        <TelerikMenu Data="@MenuItems">
            <ItemTemplate Context="item">
                @{
                    <div class="nav-chip">
                        <div class="nav-chip-head">
                            <!-- TODO: Telerik Icon -->
                            A
                        </div>
                        <div class="nav-chip-body">
                            <NavLink href="@item.Url"
                                 target="@(item.IsInternalPage(item.Url) ? "" : "_blank")"
                                 Match="@(item.Url == "/" ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                                @item.Text
                            </NavLink>
                        </div>
                    </div>
                }
            </ItemTemplate>
        </TelerikMenu>
    </div>
</div>
