@* 
    Top Navigation Bar used in Desktop screens 

    NOTE: NavMenu has its own styles to assist with the dropdown menu without overriding
    all dropdown menu styles.
*@

<style>
    .k-i-arrow-60-down{
        color: #39BCED !important;
        margin-top: .5rem;
    }

    .k-menu-popup{
        background-color: #42424230 !important;
        border-style: none !important;
        border-width: 0px !important;
    }

    .k-menu-group{
        background-color: #42424230 !important;
    }

    .k-menu-link:hover{
        background-color: transparent !important;
    }
</style>

<div class="sticky-nav">
    <div class="nav-logo">
        <a href="/"><img src="img/mp-icon.png" alt="Poust Logo" class="nav-logo-logo" /></a>
    </div>
    <div class="nav-menu">
        <TelerikMenu Data="@MenuItems">
            <ItemTemplate Context="item">
                @{
                    <div class="nav-chip">
                        <div class="nav-chip-head">
                            <TelerikIcon Icon="@item.TelerikIcon" Class="nav-chip-icon"/>
                        </div>
                        <div class="nav-chip-body">
                            <NavLink href="@item.Url"
                                 target="@(item.NewTab ? "_blank" : "")"
                                 Match="@(item.Url == "/" ? NavLinkMatch.All : NavLinkMatch.Prefix)"
                                 class="nav-chip-link">
                                @item.Text
                            </NavLink>
                        </div>
                    </div>
                }
            </ItemTemplate>
        </TelerikMenu>
    </div>
</div>
