@*
    Mobile Layout for displaying content for a medium-small screens. Primarily intended for Table / Mobile devices

    Rendered in App.razor based on TelerikMediaQuery results from DeviceMediaQueryComponent.razor
*@

@layout TelerikLayout

@inherits LayoutComponentBase

<style>
    .k-drawer{
        background-color: #424242 !important;
    }

    .k-drawer-items{
        width: 400px;
    }

    .mobile-nav-icons .k-icon{
        color: #FAF9F6;
        font-size: 22px;
    }

    .k-drawer-item.k-state-selected{
        background-color: #FAF9F6;
    }
        
    .k-drawer-item.k-state-selected:hover{
        background-color: #FAF9F6;
    }

    .k-drawer-item.k-state-selected .mobile-nav-link{
        color: #424242;
    }

    .k-drawer-item.k-state-selected .mobile-nav-icons .k-icon{
        color: #424242;
    }

</style>

<TelerikDrawer Data="@MenuItems" Mode="@DrawerMode.Overlay" Position="@DrawerPosition.Right" @ref="@NavDrawerRef">
    <ItemTemplate Context="item">
        @{
            <div class="mobile-nav-icons">
                <TelerikIcon Icon="@item.TelerikIcon" />
            </div>
            <NavLink href="@item.Url"
                 target="@(item.NewTab ? "_blank" : "")"
                 Match="@(item.Url == "/" ? NavLinkMatch.All : NavLinkMatch.Prefix)"
                 class="mobile-nav-link">
                @item.Text
            </NavLink>
        }
    </ItemTemplate>
    <DrawerContent>
        <div class="main">
            <div class="sticky-nav mobile-nav">
                <div class="nav-logo">
                    <a href="/"><img src="img/mp-icon.png" alt="Poust Logo" class="nav-logo-logo" /></a>
                </div>
                <div class="mobile-nav-icon-container">
                    <span onclick="@(() => NavDrawerRef.ToggleAsync())">
                        <TelerikIcon Icon="menu" />
                    </span>
                </div>
            </div>
            <div class="mobile-content px-4">
                @Body
            </div>
        </div>
    </DrawerContent>
</TelerikDrawer>

